#Titulo{background-color: #00f;}

#Navegador1{background-color: #f00;}

#Body{background-color: #690593;}

li {background-color: #4399CB;
	display: inline;
	}

#Aside_1{background-color: #E012DE;
		float: left;	

		}